<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for @user, url: '/sessions' do |f| %>
  <%= f.collection_select(:id, User.all, :id, :name) %>
  <%= f.submit "Sign In" %>
<% end %>